extends index

block content
    .container
        h1.text-center Players
        form.form.container(action='/players', method='POST')
            .form-group
                label(for='name') Name:
                input.form-control(type='text', name='name')
            .form-group
                label(for='age') Age:
                input.form-control(type='number', name='age')
            .form-group
                label(for='location') Location:
                input.form-control(type='text', name='location')
            .form-group
                label(for='nickname') Nickname:
                input.form-control(type='text', name='nickname')
            .form-group
                label(for='twitter') Twitter:
                input.form-control(type='text', name='twitter')
            .form-group
                label(for='role') Role:
                input.form-control(type='text', name='role')
            span.input-btn
                button.btn.btn-primary(type='submit') Add Player!
        include players
