doctype html
html(lang='en-ca')
  head
    meta(charset='utf-8')
    title BrainGG
    link(rel="stylesheet", href="styles.css")
    include stylesPublic
  body
    include navbarPublic
    .container
        include contentPublic
    include scriptsPublic