extends index

block content
    .jumbotron
        h1 Brain Gaming
        p Admin page
    .row
        .col-md-6
            div
                a(href="#").btn.btn-info.btn-lg.visible-lg-block Equipos
                .row
                    .col-md-6
                        div
                            a(href="/admin/squads").btn.btn-primary.btn-lg.visible-lg-block Ver Equipos
                    .col-md-6
                        div
                            a(href="/admin/players").btn.btn-primary.btn-lg.visible-lg-block Agregar Equipo
        .col-md-6
            div
                a(href="#").btn.btn-info.btn-lg.visible-lg-block Noticias
                .row
                    .col-md-6
                        div
                            a(href="/admin/news").btn.btn-primary.btn-lg.visible-lg-block Ver Noticias
                    .col-md-6
                        div
                            a(href="/admin/addnews").btn.btn-primary.btn-lg.visible-lg-block Agregar Noticia