nav
  .menu
    .menu-top
      .menu-center
        ul
          li
            a(href='/') xLeague
          li
            a(href='#') Equipos
          //- li.dropdown
          //-   a.dropdown-toggle(href='/' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Equipos
          //-     span.caret
          //-   ul.dropdown-menu
          //-     li
          //-       a(href='#') overwatch
          //-     li
          //-       a(href='#') csgo
          //-     li
          //-       a(href='#') lol
          li
            img.big-logo(src='/img/logo.png')
          li
            a(href='/') Noticias
          li
            a(href='/') About
.header
  .bg-image.img-responsive
    img(src='/img/bg-main.png')