nav
  .menu
    .menu-top
      .menu-center
        ul
          li
            a(href='/') xLeague
          li
            a(href='/') Equipos
          li
            a(href='/') Noticias
          li
            a(href='/') About
div
  img(src='/img/main-bg.png')