.news
    .titulo-2
        h2 News
            small   Keep updated on our latests news!
    .row.container-fluid.center-news
        each item in news
            .col-md-3.news1
                .image-news
                    img.img-responsive(src="/img/camisetas.png" alt=item.title)
                    .text-news
                        h4 #{item.title}
                        p #{item.intro}
                //- <a href="#"></a>
        