.sponsors
    .titulo
        h2 Sponsors  
        small Believe in Us!
    .row.container-fluid
        .col-md-4.sponsor1
            img(src="./reference/phoenix-server-sp.png" alt="sponsor#" class="img-responsive")
        .col-md-4.sponsor1
            img(src="./reference/torre-sp.png" alt="sponsor#" class="img-responsive")
        .col-md-4.sponsor1
            img(src="./reference/instant-gaming_00000.png" alt="sponsor#" class="img-responsive" style="padding-top: 15%;")