.teams
    .titulo-2
        h2 Teams
            small  Meet our teams!
    .row.container-fluid
        each squad in eachSquad
            .col-md-6
                a(href='#').btn.btn-default.btn-lg.visible-lg-block #{squad.toUpperCase()}