.teams
    .titulo
        h2 Teams
            small  Meet our teams!
    .row.container-fluid
        each squad in eachSquad
            .col-md-6
                .team-btn
                    a(href='#').btn.btn-lg.visible-lg-block #{squad.toUpperCase()}