.teams
    .titulo-2
        h2 Teams
        small Meet our teams!
    .row.container-fluid
        .col-md-6.team1
            button.btn.btn-default Team #
        .col-md-6.team1
            button.btn.btn-default Team #
        .col-md-6.team1
            button.btn.btn-default Team #
        .col-md-6.team1
            button.btn.btn-default Team #