.body {
	background-color: grey;
}

.row {
	margin: 0;
}

.titulo, .titulo-2 {
	padding: 2%;
	font-family: 'Raleway', sans-serif;
}

.titulo-2 {
	color: #c1c1c1;
}

.titulo h2, .titulo-2 h2 {
	border-bottom: 2px solid #FF7B9D;
	margin: 0;
}

.titulo small, .titulo-2 small {
	color: #FF7B9D;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

/*	@START HEADER	*/
.header{
	background-color: grey;
}

.header img {
	box-shadow: 0px 5px 10px #FF7B9D;
	position: static;
	right: 0;
}

/*	@END HEADER	*/

/*	@START LOGO	*/

.big-logo {
	display: inline-block;
    position: absolute;
    left: 41%;
    top: 3%;
    max-width: 260px;
    max-height: 260px;
}

.big-logo img{
	height: 100%;
	width: 100%;
}

/*	@END LOGO	*/

/*	@START NAVBAR	*/
.menu-top {
	background-color: #4e4d4d;
	border-bottom: 4px solid #FF7B9D;
	color: #FF7B9D;
	height: 70px;
}

.menu-center ul li a {
	text-decoration: none;
	color: white;
	font-size: 200%;
	font-family: 'Raleway', sans-serif;
}

.menu-center ul li a:hover {
	color: #FF7B9D;
}

.menu-center ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	padding-top: 1%;
}

.menu-center ul li {
	list-style: none;
}

/*	@END NAVBAR	*/

/*	@START NEWS	*/

.news {
	background-color: #4e4d4d;
	padding: 2%;
	border-bottom: 4px solid #FF7B9D;
}

.news1{
	padding: 0;
}

.center-news{
	display: flex;
	justify-content: space-around;
}

.text-news{
	padding: 5%;
	background-color: rgba( 255, 255, 255, 0.3 );
	position: absolute;
	top: 0px;
	height: 100%;
	_width: 100%;
	color: black;
	overflow: hidden;
}


.image-news {
	background-color: white;
	overflow: hidden;
}

/*	@END NEWS	*/

/*	@START MEDIA	*/

.media{
	background-color: #c1c1c1;
	padding: 3%;
	margin: 0;
}

.ig-media {
	background-color: #c1c1c1;
	border-radius: 0 3% 3% 0;
	border: 2px solid #fff;
}

.ig-info {
	background-color: grey;
}

.ig-pic {
	border: 0;
	padding: 0;
}

.instagram {
	background-color: #FF7B9D;
	padding: 2%;
}

.igLikes {
	display: inline-block;
	margin-left: 5%;
}

.twitter{
	border: 1px solid black;
	height: 330px;
	background-color: #FF7B9D;
	padding: 2%;
}
/*	@END MEDIA	*/

/*	@START TEAMS	*/

.teams{
	background-color: #4e4d4d;
	padding: 2%;
	border-top: 4px solid #FF7B9D;
	border-bottom: 4px solid #FF7B9D;
}

.team1 {
	padding: 1%;
}

.teams img {
	border-radius: 10px;
}

/*	@END TEAMS	*/

/*	@START SPONSORS	*/

.sponsors{
	background-color: #c1c1c1;
	padding: 3%;
}

.sponsor1 {
	_background-color: #FF7B9D;
	padding: 2%;
}

/*	@END SPONSORS	*/

/*	@START FOOTER	*/

.menu-bottom {
  background-color: #4e4d4d;
  color: white;
  height: 100px;
  display: flex;
  align-items: center; 
  border-top: 4px solid #FF7B9D;
}

.menu-bottom li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.menu-bottom li a:hover {
	color: #FF7B9D
}

/*	@END FOOTER	*/

















